# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.rar
*.spec
*.venv
*.idea

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Images and outputs
*.png
*.svg
*.jpg
*.jpeg
*.bmp
*.gif

# OS
.DS_Store
Thumbs.db

# Environment
.env
.venv/
venv/
ENV/

# Others
output/
resources/png.png
resources/output.svg

*.docx